<div class="center jumbotron">
  <%=  image_tag("giphy-iloveimg-cropped.gif") %>
  <h1>Welcome to Tickets App</h1>
  <h2>
   <%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %>
  </h2>
  

</div>

